@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300');

* { margin: 0; padding: 0; }

body {
    background: #f2f2f2 !important;
    text-align: center;
    color: #ffffff;
}

h1 span { color: #000000; font-weight: 400; }

h2 span { color: #ff5500; font-weight: 400; }

#a input {
    background-color: #b3e6ff;
    border: none;
    color: #000000;
    padding: 13px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60px;
}

#b input {
    background-color: #84e184;
    border: none;
    color: #000000;
    padding: 13px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 60px;
}

#output img.center {
    display: block;
    margin: 0 auto;
  position: relative;
    left: -50%;
}

p span { color: #4d4d4d; font-weight: 400; }





/* 
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
} */